USE [master]
GO
/****** Object:  Database [DataRoom]    Script Date: 12-07-2022 14:41:17 ******/
CREATE DATABASE [DataRoom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataRoom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataRoom.mdf' , SIZE = 598016KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataRoom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataRoom_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataRoom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataRoom]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_WaitingWith]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[fun_WaitingWith]  
(  
   @FileId int
)  
returns nvarchar(100)  
as  
begin
DECLARE @DataRoomId int;
DECLARE @WorkFlowId int;
DECLARE @Status varchar(32);
DECLARE @WaitingWith varchar(1024);

set @DataRoomId = (select DataRoomId from [dbo].[File] where Id = @FileId);
set @WorkFlowId = (select WorkFlowId from [dbo].[DataRoom] where Id = @DataRoomId);
set @Status = (select Status from [dbo].[File] where Id = @FileId);

if(@Status = 'Submitted')
set @WaitingWith = (SELECT  
UserNames=STUFF  
(  
     (  
       SELECT DISTINCT ', ' + CAST(UserName AS VARCHAR(MAX))  
       FROM ToDoTask t2   
       WHERE t2.FileId = t1.FileId AND TaskCategory='Review' AND t2.FileId = @FileId   
       FOR XML PATH('')  
     ),1,1,''  
)  
FROM ToDoTask t1  
WHERE t1.FileId = @FileId
GROUP BY FileId);


if(@Status = 'Reviewed')
set @WaitingWith = (SELECT  
UserNames=STUFF  
(  
     (  
       SELECT DISTINCT ', ' + CAST(UserName AS VARCHAR(MAX))  
       FROM ToDoTask t2   
       WHERE t2.FileId = t1.FileId AND TaskCategory='Approval' AND t2.FileId = @FileId   
       FOR XML PATH('')  
     ),1,1,''  
)  
FROM ToDoTask t1  
WHERE t1.FileId = @FileId
GROUP BY FileId);





return(@WaitingWith)  
end  
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityCategory] [varchar](1000) NULL,
	[ActivityDescription] [varchar](2000) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[FileId] [int] NULL,
	[FileName] [varchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADInfo]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsADSync] [varchar](2000) NULL,
	[IPAddress] [varchar](2000) NULL,
	[DomainName] [varchar](2000) NULL,
	[CompanyId] [int] NULL,
	[CompanyName] [varchar](256) NULL,
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[FileName] [varchar](256) NULL,
	[Status] [varchar](32) NULL,
	[AuditorId] [int] NULL,
	[AuditorName] [varchar](256) NULL,
	[AuditOn] [datetime] NULL,
	[Comments] [varchar](1024) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](256) NULL,
	[RelativePath] [nvarchar](max) NULL,
	[Guid] [varchar](128) NULL,
	[StorageCategory] [varchar](128) NULL,
	[CloudAccessKey] [nvarchar](512) NULL,
	[CloudSecurityKey] [nvarchar](512) NULL,
	[StoragePath] [nvarchar](512) NULL,
	[AWSRegion] [nvarchar](512) NULL,
	[IsLogsRequired] [bit] NULL,
	[LogsStoragePath] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[Comments] [varchar](512) NULL,
	[IsExternalSharingEnabled] [bit] NULL,
	[SharingUrl] [nvarchar](256) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataLog]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityLogId] [int] NULL,
	[TableName] [varchar](256) NULL,
	[OriginalData] [nvarchar](max) NULL,
	[ModifiedData] [nvarchar](max) NULL,
	[Changes] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataRoom]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomName] [varchar](256) NULL,
	[Description] [varchar](512) NULL,
	[DataRoomSize] [varchar](64) NULL,
	[RelativePath] [nvarchar](max) NULL,
	[Guid] [varchar](256) NULL,
	[IsArchivalRequired] [bit] NULL,
	[IsDeletionRequired] [bit] NULL,
	[IsLogsRequired] [bit] NULL,
	[ArchivalPeriod] [varchar](256) NULL,
	[DeletionPeriod] [varchar](256) NULL,
	[RetentionPeriod] [varchar](256) NULL,
	[IsWorkFlowRequired] [bit] NULL,
	[WorkFlowId] [int] NULL,
	[WorkFlowName] [varchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL,
	[ArchivalBasedOn] [varchar](256) NULL,
	[RetentionBasedOn] [varchar](256) NULL,
	[DeletionBasedOn] [varchar](256) NULL,
	[ArchivalType] [varchar](256) NULL,
	[ArchivalPath] [varchar](512) NULL,
	[ArchivalAWSAccessKey] [nvarchar](512) NULL,
	[ArchivalAWSSecurityKey] [nvarchar](512) NULL,
	[ArchivalAWSRegion] [nvarchar](512) NULL,
 CONSTRAINT [PK_DataRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataRoomPermission]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRoomPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[HasFullControl] [bit] NULL,
	[HasRead] [bit] NULL,
	[HasWrite] [bit] NULL,
	[HasDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataRoomWorkFlowUser]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataRoomWorkFlowUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[RoleId] [int] NULL,
	[RoleName] [varchar](256) NULL,
	[WorkFlowId] [int] NULL,
	[WorkFlowName] [varchar](256) NULL,
	[IsMandatoryAction] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailConfiguration]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailConfiguration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MailType] [nvarchar](256) NULL,
	[Protocal] [nvarchar](128) NULL,
	[SenderAddress] [nvarchar](512) NULL,
	[Username] [nvarchar](256) NULL,
	[Password] [nvarchar](128) NULL,
	[ServerAddress] [nvarchar](128) NULL,
	[PortNumber] [nvarchar](32) NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_EmailConfiguration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](256) NULL,
	[ContentType] [varchar](256) NULL,
	[FileSize] [varchar](32) NULL,
	[FileData] [varbinary](max) NULL,
	[Guid] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[DataRoomSize] [varchar](256) NULL,
	[FileDescription] [varchar](1024) NULL,
	[RelativePath] [nvarchar](max) NULL,
	[IsArchived] [bit] NULL,
	[ArchivedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[IsCheckIn] [bit] NULL,
	[CheckInBy] [int] NULL,
	[CheckInByName] [varchar](256) NULL,
	[CheckInOn] [datetime] NULL,
	[FileVersion] [varchar](32) NULL,
	[IsCheckOut] [bit] NULL,
	[CheckOutBy] [int] NULL,
	[CheckOutByName] [varchar](256) NULL,
	[CheckOutOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL,
	[IsWorkFlowRequired] [bit] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedBy] [int] NULL,
	[ApproverName] [varchar](256) NULL,
	[ApprovedOn] [datetime] NULL,
	[WaitingWithName] [varchar](256) NULL,
	[Status] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilePermission]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[FileId] [int] NULL,
	[FileName] [varchar](256) NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[HasFullControl] [bit] NULL,
	[HasRead] [bit] NULL,
	[HasWrite] [bit] NULL,
	[HasDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileVersion]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileVersion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[FileId] [int] NULL,
	[FileName] [varchar](256) NULL,
	[ContentType] [varchar](68) NULL,
	[FileSize] [varchar](32) NULL,
	[Guid] [varchar](256) NULL,
	[FileDescription] [varchar](1024) NULL,
	[RelativePath] [nvarchar](max) NULL,
	[IsArchived] [bit] NULL,
	[ArchivedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[FileVersionNumber] [varchar](32) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FolderName] [varchar](256) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[ParentFolderId] [int] NULL,
	[ParentFolderName] [varchar](256) NULL,
	[FolderDescription] [varchar](1024) NULL,
	[RelativePath] [nvarchar](max) NULL,
	[Guid] [varchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL,
	[WorkFlowId] [int] NULL,
	[WorkFlowName] [varchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FolderPermission]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[HasFullControl] [bit] NULL,
	[HasRead] [bit] NULL,
	[HasWrite] [bit] NULL,
	[HasDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ItemTrackerControl]    Script Date: 04-Oct-22 7:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrackerControl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemTrackerId] [int] NULL,
	[IsMandatory] [bit] NULL,
	[ControlType] [nvarchar](256) NULL,
	[ControlName] [nvarchar](256) NULL,
	[IsVisible] [bit] NULL,
	[OrderNumber] [int] NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [nvarchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [nvarchar](256) NULL,
	[ControlMasterData] [nvarchar](256) NULL,
	[ControlReferenceId] [int] NULL,
	[ControlReferenceName] [nvarchar](256) NULL,
	[ControlGuid] [nvarchar](256) NULL,
	[ParentGuid] [nvarchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedByName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[ItemTrackerGuid] [nvarchar](256) NULL)
ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ItemTrackerData]    Script Date: 04-Oct-22 7:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrackerData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControlGuid] [nvarchar](256) NULL,
	[RowGuid] [nvarchar](256) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [nvarchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [nvarchar](256) NULL,
	[ItemTrackerId] [int] NULL,
	[ItemTrackerName] [nvarchar](256) NULL,
	[ControlTypeId] [int] NULL,
	[ControlTypeName] [nvarchar](256) NULL,
	[ControlName] [nvarchar](256) NULL,
	[ControlDataId] [int] NULL,
	[ControlDataName] [nvarchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedByName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ItemTrackerHistory]    Script Date: 04-Oct-22 7:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrackerHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemTrackerId] [int] NULL,
	[ItemTrackerName] [nvarchar](256) NULL,
	[ItemTrackerRowGuid] [nvarchar](256) NULL,
	[ColumnName] [nvarchar](256) NULL,
	[OldValue] [nvarchar](1024) NULL,
	[NewValue] [nvarchar](1024) NULL,
	[CreatedBy] [int] NULL,
	[CreatedByName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ItemTrackerMetaData]    Script Date: 04-Oct-22 7:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrackerMetaData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemTrackerName] [nvarchar](256) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [nvarchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [nvarchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[ItemTrackerGuid] [nvarchar](256) NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ItemTrackerPermission]    Script Date: 04-Oct-22 7:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTrackerPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [nvarchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [nvarchar](256) NULL,
	[ItemTrackerId] [int] NULL,
	[ItemTrackerName] [nvarchar](256) NULL,
	[CompanyId] [int] NULL,
	[CompanyName] [nvarchar](256) NULL,
	[UserId] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[HasFullControl] [bit] NULL,
	[HasRead] [bit] NULL,
	[HasWrite] [bit] NULL,
	[HasDelete] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [nvarchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [nvarchar](256) NULL,
	[DeletedOn] [datetime] NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LicenseInfo]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [varchar](2000) NULL,
	[Column2] [varchar](2000) NULL,
	[Column3] [varchar](2000) NULL,
	[Column4] [varchar](2000) NULL,
	[Column5] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionMaster]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](128) NULL,
	[PermissionCategory] [varchar](32) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](32) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissionMaster]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissionMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[RoleName] [varchar](32) NULL,
	[PermissionId] [int] NULL,
	[PermissionName] [varchar](32) NULL,
	[PermissionCategory] [varchar](32) NULL,
	[HasPermission] [bit] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsCloudEnabled] [bit] NULL,
	[StoragePath] [nvarchar](1024) NULL,
	[AWSAccessKey] [nvarchar](128) NULL,
	[AWSSecretKey] [nvarchar](256) NULL,
	[AWSBucketName] [nvarchar](256) NULL,
	[AWSBucketRegion] [nvarchar](512) NULL,
	[LogsPath] [nvarchar](1024) NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoTask]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[FileName] [varchar](256) NULL,
	[FolderId] [int] NULL,
	[FolderName] [varchar](256) NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [varchar](256) NULL,
	[TaskCategory] [varchar](32) NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[UserRoleId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](256) NULL,
	[UserName] [varchar](256) NULL,
	[Password] [varchar](32) NULL,
	[EmailId] [varchar](256) NULL,
	[IsADUser] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserName] [varchar](256) NULL,
	[RoleId] [int] NULL,
	[RoleName] [varchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebApiInfo]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebApiInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Column1] [varchar](2000) NULL,
	[Column2] [varchar](2000) NULL,
	[Column3] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFlowMaster]    Script Date: 12-07-2022 14:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlowMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkFlowName] [varchar](256) NOT NULL,
	[IsInitiationRequired] [bit] NOT NULL,
	[IsSingleInitiator] [bit] NOT NULL,
	[IsMultipleInitiator] [bit] NOT NULL,
	[IsReviewRequired] [bit] NOT NULL,
	[IsSingleReviewerRequired] [bit] NOT NULL,
	[IsMultipleReviewersRequired] [bit] NOT NULL,
	[IsApprovalRequired] [bit] NOT NULL,
	[IsSingleApproverRequired] [bit] NOT NULL,
	[IsMultipleApproversRequired] [bit] NOT NULL,
	[IsSingleReviewSufficient] [bit] NOT NULL,
	[IsSignleApprovalSufficient] [bit] NOT NULL,
	[CompanyId] [int] NULL,
	[CompanyName] [varchar](256) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatorName] [varchar](256) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifierName] [varchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletorName] [varchar](256) NULL,
	[DeletedOn] [datetime] NULL,
	[DataRoomId] [int] NULL,
	[DataRoomName] [nvarchar](256) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[DataRoom] ADD  CONSTRAINT [DF__DataRoom__Compan__4BAC3F29]  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[DataRoom] ADD  CONSTRAINT [DF__DataRoom__Compan__4CA06362]  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[DataRoomPermission] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[DataRoomPermission] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[File] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[File] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[FilePermission] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[FilePermission] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[FileVersion] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[FileVersion] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[Folder] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[Folder] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[FolderPermission] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[FolderPermission] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('') FOR [CompanyName]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  DEFAULT ((0)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  DEFAULT ('') FOR [CompanyName]
GO
USE [master]
GO
